<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MsHtml.PieroViano" version="1.0.0" targetFramework="net451" />
  <package id="WebBrowserLib.MsHtml.PieroViano" version="1.0.0.1" targetFramework="net451" />
  <package id="WebBrowserLib.PieroViano" version="1.0.0.1" targetFramework="net451" />
</packages>